.u-prevent-scroll {
  height: 100vh;
  overflow: hidden;
}

.u-rotate-90 {
  transform: rotate(90deg);
}

.icon-accordion path {
  transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center center;
}
